body {
    background-color: #2440F2;
}

.hellasBlue {
    background-color: #2440F2;
}

.white {
    background-color: white;
}

.border {
    margin-bottom: 2%;
}

.error {
    color: red;
}

.left{
    text-align: left;
}

.btn-fixed {
    width:45%
}

.ui-dialog {
     background-color: rgba(255,255,255,1);
}

.ui-dialog-titlebar-close {
    float:right;
    
    
    
}

